/* --------------------------------------------------- */
/* ----------------- Global Styles ------------------- */
/* --------------------------------------------------- */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  color: #333;
  height: 100%;
}

.App {
  text-align: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* --------------------------------------------------- */
/* ---------------- NavBar.js Styles ----------------- */
/* --------------------------------------------------- */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0;
  background-color: white;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: color 0.1s, border-bottom 0.1s;
}

nav ul li a:hover {
  color: #A0522D;
  border-bottom: 2px solid #A0522D;
}
/* End of NavBar.js */

/* --------------------------------------------------- */
/* ------------ Social Media Bar Styles --------------- */
/* --------------------------------------------------- */
.social-media-bar {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: #A0522D;
}

.socialIcons {
  display: flex;
  gap: 15px;
}

.iconStyle {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1); /* Makes icons white for contrast */
}
/* End of SocialMediaBar.js */

/* --------------------------------------------------- */
/* ------------------ Home.js Styles ----------------- */
/* --------------------------------------------------- */
.HomePageGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 5px;
}

.hero-text {
  font-size: 5vw;
  color: #333;
  text-align: center;
}

.hero-text h1 {
  font-size: 8vw;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 5vw;
}

.hero-text button {
  padding: 7px 30px;  /* Increase padding for a bigger button */
  font-size: 20px;     /* Increase the text size */
  background-color: #A0522D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #fbc502;
}


.hero-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 10px;
}

/* Testimonials Section */
.testimonials-section {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px;
}

.testimonial {
  background-color: #FFF8DC;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.testimonial p {
  font-size: 1.2rem;
  margin: 0;
}
/* End of Home.js */

/* --------------------------------------------------- */
/* ------------------ Product.js Styles -------------- */
/* --------------------------------------------------- */
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}

.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
}
.main-image {
  border-radius: 10px;
}

.main-image img, .video-container video {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  object-fit: contain;
  border-radius: 10px;
  box-sizing: border-box;
}

.thumbnail-gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  flex-wrap: wrap;
  border-radius: 10px;
}

.thumbnail, .video-thumbnail {
  width: 80px;
  height: 80px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 10px;
}

.thumbnail:hover, .video-thumbnail:hover {
  transform: scale(1.05);
}

.product-details {
  padding: 0px;
  max-width: 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
  align-items: center;
}
/* End of Product.js */

/* --------------------------------------------------- */
/* ------------------ About.js Styles -------------- */
/* --------------------------------------------------- */
/* How It Works Icons */
.howitworks-icon {
  max-width: 100px;
  margin-bottom: 10px;
  border-radius: 50%; /* Rounded icons */
}

/* End of About.js */

/* --------------------------------------------------- */
/* ------------------ Contact.js Styles -------------- */
/* --------------------------------------------------- */
.contact-page {
  padding: 20px;
  text-align: center;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.contact-form button {
  padding: 15px 30px;  /* Increase padding for a bigger button */
  font-size: 20px;     /* Increase the text size */
  background-color: #A0522D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #fbc502;
}

/* End of Contact.js */

/* --------------------------------------------------- */
/* ------------- Desktop-specific media query -------- */
/* --------------------------------------------------- */
@media (min-width: 768px) {

  /* Home.js */
  .HomePageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 0px;
    align-items: flex-start;
  }

  .hero-text {
    text-align: left;
    font-size: 3vw;
  }

  /* Product.js */
  .product-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .image-gallery {
    flex: 1;
    max-width: 400px;
    min-height: 400px;
  }

  .product-details {
    flex: 1;
    max-width: 500px;
    padding-left: 20px;
  }

  /* Contact.js */
  .contact-form {
    max-width: 600px;
  }
}
/* End of desktop-specific media query */
